@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300&family=Martel+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Martel sans', sans-serif;
    color: rgb(254,158,0);
    background-color: rgb(29,32,34);
}

h1, h2 {
    font-family: Maitree, sans-serif;
    color: rgb(254,158,0);
}

#banderoll {
    height: 550px;
}

#hero-image {
    background: url(../images/_Musikaliskt-landskap-1-880.jpg) no-repeat center center;
    height: 517px;
    width: 50%;
    display: inline-block;
    position: relative;
    bottom: 517px;
    left: 53%;

}

#logo {
    width: 54%;
    height: 517px;
    padding-right: 30px;
    background-color: black;
    text-align: right;
    font-size: 100px;
    font-family: Maitree, sans-serif;
    position: relative;
    display: inline-block;
    z-index: 2;
}