@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300&family=Martel+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Martel sans', sans-serif;
    color: rgb(254,158,0);
    background-color: rgb(29,32,34);
}

h1, h2 {
    font-family: Maitree, sans-serif;
    color: rgb(254,158,0);
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

/*Header*/

header {
    height: 150px;
}

/*Banderoll image and logo section*/

#banderoll {
    height: 517px;
    width: 100%;
    border: 5px solid black;
}

#hero-image {
    background: url(../images/_Musikaliskt-landskap-1-880_cropped.jpg) no-repeat left center;
    height: 517px;
    width: 50%;
    background-color: black;
    float: left;
}

#logo {
    height: 517px;
    width: 45%;
    padding-right: 5%;
        
    float: left;
    background-color: black;
    text-align: right;
    font-size: 100px;
    font-family: Maitree, sans-serif;
}

/*About dagmar section*/

#about-dagmar-picture {
    background: url("../images/about-dagmar-picture-cropped.jpg") no-repeat center center;
    height: 400px;
    width: 400px;
    float: left;
    margin-left: 3%;
    border: 20px solid black;
    border-radius: 50%;
}

#about-dagmar-pic-wrapper {
    margin: 10%;
}

.about-dagmar {
    margin-top: 100px;
    height: 1200px;
}



.right-about {
    float: left;
    padding-left: 3%;
    width: 33%;
}
